
@font-face {
font-family: "xkcd";
src: url("../fonts/xkcd.otf") format("opentype");
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
body, h1, h3, button, .btn {
    font-family: "xkcd";
    /*letter-spacing: 1px;*/
    word-spacing: 2px;
}

p {
    font-size: 16px;
}

#options {
    margin-top: 100px
}

.menu-btn {
    /*margin-right: 0 auto;*/
    margin-top: 10px;
    margin-bottom: 10px;
    /*text-align: center;*/
    /*position: relative;*/
    /*margin-left: 10%;*/
    /*margin-right: 100%;*/
}

.save-btn{
    float: left;
    /*margin-right: 35%;*/
}
.reset-btn{
    float: right;
    /*margin-left: auto;*/

}

.refresh-btn{
    float: left;
    margin-left: 35%;
}

.ginp {
    margin-top: 10px;
}

.headings {
    text-align: center;
}